
html {
    scroll-behavior: smooth;
}
body{
    background-color: bisque;
    margin: 0px 20px ;
}
header{
    border-bottom: 3px black solid;
    position: fixed;
    width: 100%;
    background-color: bisque;

}

.name {
    color: rgb(56, 56, 56);
}

nav {
    all: unset;
    position: fixed;
    top: 20px;
    right: 0px;
    background-color: bisque;
    font-size: 25px ;
    color: rgb(86, 86, 86);
    padding: 20px;
}

.nav{
    all: unset;
    padding: 10px;
    cursor: pointer;

}
.nav:hover{
    background-color: rgb(192, 192, 192);
    transition: 0.3s ease;
    border-radius: 50%;
    text-decoration: underline;

}


.home{
    display: flex;
    align-items: center;
    padding: 200px ;
    gap: 20px;
    border-bottom: 1px solid black;


    .introduction {
        border: 1px black solid;
        border-radius: 50px;
        margin-left: 10px;

        font-size: 30px;
        padding: 20px;
        p{
            color: red;
        }
        
    }
    img{

        max-width: 300px;
        width: 30%;
        height: auto;
        border-radius: 100px;
      
    }
    img:hover{
        opacity: 50%;
        cursor: pointer;
        transition: 0.3s ease;
    }
}

.space{
    padding-top: 50px;
}

.about{
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: flexbox;
    align-items: center;
    font-size: 30px;
    padding: 20px;

    .med{
        padding: 0 150px;

    }

}


.projects{
    font-size: 30px;
    margin-top: 30px;
    display: flexbox;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 100px;


    .bid{
        padding: 0 150px;
    }


}

footer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer a{
        all: unset;
        cursor: pointer;
        padding: 5px;

}

footer a:hover{
        background-color: rgb(141, 141, 141);
        border-radius: 50px;
}

footer p{
    margin-left: auto;
}



#dest_home{
    display: block;
}
#dest_about{
    display: block;
}
#dest_projects{
    display: block;
}
#dest_contact:target{
    display: block;
}
    
    


