

/*Home Header*/
.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;

}

.logo_container {

    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    
}

.logo {
   width: 80px;
   height: 80px;
   cursor: pointer;
   margin-left: 20px;
}
.logo:hover{
    opacity: 70%;
    transition: 1s ease;
}



.nav{
    margin: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 28px;
    
}

nav a{
    all: unset;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;

}

.get_started{
    all: unset;
    cursor: pointer;
    background-color: #fbe6a2;
    border-radius: 20px;
    padding: 10px;
}
.nav a:hover{
    background-color: #7f7f7f;
    transition: 0.3s ease;
    color: black;
    opacity: 80%;
    text-decoration: underline;
    color: white;
}
.get_started:hover{
    background-color: black;
    opacity: 80%;
    color: white;
    transition: 0.8s ease;
}




.central{
    display: flow-root;
    width: fit-content;
    margin: 150px 0px 250px  400px;
}
.sec_header{
    width: fit-content;
    font-size: 55px;
    padding: 30px;
    background-color: #9c82f6;
    border-radius: 70px;
    margin: 0px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}

.pg {
    font-size: 30px;
    padding: 20px;
    background-color: #fbe6a2;
    width: fit-content;
    margin: 0px 0px 80px 120px;
    border-radius: 20px;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.button{
    font-size: 30px;
    padding: 20px;
    border-radius: 30px;
    margin-left: 50px;
    border: 1px solid black;

}

.space {
    border-bottom: 1px solid black;
}

.sec_header:hover{
    transition: 0.5s ease ;
    opacity: 70%;
    background-color: black;
    color: white;
}
.pg:hover{
    transition: 0.5s ease ;
    background-color: black;
    color: white;
}

.central_2{
   
    width: fit-content;
    margin: 300px 0px 400px 400px;
    

}

.c2_subHeader{
    font-size: 30px;
    color: #9c82f6;
    width: fit-content;
}
.c2_header{
    font-size: 45px;
    width: fit-content;
}
.c2_pg{
    font-size: 25px;
    color: #737373;
    width: fit-content;
    font-weight: bold;    

}

.central_3{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 400px ;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h2{
    font-size: 35px;
}

footer p {
    font-size: 25px;
}
.footer_1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 20%;
    align-items: center;
    padding: 25px;
    font-weight: bold;
    img{
        max-width: 20%;
        min-height: 20%;
        width: auto;
        height: auto;
    }
}

.footer_2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 40px;
    a{
        all: unset;
        cursor: pointer;
        padding: 10px;
        text-decoration: underline;
        font-size: 25px;
    }
    a:hover{
        opacity: 70%;
    }


   
}

.footer_3{
    padding-right: 60px;

}


/* Log in */

.log_pos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    border-bottom: 1px solid black;

}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    width: fit-content;
    border-radius: 20px;
    background-color: #f7f7f9;
    box-shadow: 2px 2px 2px 6px rgb(81, 81, 81);
    margin-left: 150px;

}

.login h2{
    font-size: 40px;
    padding-left: 20px;

}

.login input{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    border-radius: 8px;
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #d9d9d9;
    font-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
}

.login p{
    padding: 30px;
    font-size: 30px;
}
.sign_in{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;


}
.sign_in button{
    all: unset;
    background-color: #fbe6a2;
    width: fit-content;
    padding: 20px 80px 20px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;


}
.sign_in button:hover{
    transition: 1s ease;
    background-color: black;
    opacity: 70%;
    color: white;
}

.sign_in a{
    all: unset;
    font-size: 30px;

    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}
.sign_in a:hover{
    transition: 0.5s ease;
    opacity: 50%;
}

.sign_with{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.sign_with a{
    all: unset;
    display: flex;
    padding: 20px 80px;
    margin: 10px;
    background-color: #fbe6a2;
    font-size: 30px;
    border-radius: 15px;
    text-align: end;

    
}

.sign_with a:hover{
    cursor: pointer;
    opacity: 50%;
    color: black;
    transition: 0.5s ease;
}
.sign_with img{
    width: 30px;
    padding-right: 20px;
    align-items: center;
}



/* Dashboard SLIDES */
.background{
    min-height: 100vh;
    background: linear-gradient(#ffffff, #cccccc);
    height: 100%;
    margin: 0;
    padding: 0;
}

.logout{
    all: unset;
    
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
    img{
        width: 30px;
        padding-left: 10px;
    }
}

.logout:hover{
    opacity: 50%;
    color: white;
    transition: 0.4s ease;
   
}

.left_bar{
    position: absolute ;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 100px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 30px ;
    margin-right: 60px;
    transition: 1s ease;
    overflow: hidden;
}


.left_bar img{
    width: 60px;
    height: auto;
    padding-left: 20px;
    margin: 0;
    border: black;
}

.left_bar button{
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 10px;
    width: fit-content;
    padding: 0;
    margin-bottom: 20px;    
    margin-top: 15px;
    color: black;
}

.left_bar button:hover{
    opacity: 50%;
    transition: 0.5s ease;

}

.space_nav{
    margin-bottom: 70px !important;
}

.left_bar.expanded{
    width: 250px;
}
.button-text {
    display: none; /* Initially hide the text */
    margin-left: 10px;
    font-size: 25px;
    align-items: first baseline;

}

.left_bar.expanded .button-text {
    display: inline; /* Show text when sidebar is expanded */
}





.center_dash{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-left: 150px;
    margin-right: 60px;
    flex-wrap: wrap;
    height: 100%;
    
}


.center_bar{
    
    display: flex;
    flex-direction: column;

    padding: 0;
    height: 200px;
    width: 250px;
    overflow: hidden scroll;
    scrollbar-width: none;
    margin: 50px;
    
    
    border-radius: 12px;
    background-color: white;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0 6px 6px rgb(70, 70, 70);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.8s ease;
}

.center_bar a{
    all: unset;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(64, 64, 64);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    
}

.center_bar a:hover{
    transition: 1s ease;
    opacity: 50%;
    color: white;
    background-color: black;
}

.center_bar img{
    width: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    padding: 5px;
    background-color: #1d3248;
    color: white;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 236px;
    height: 40px;
}
.container img{
    width: 20px;
    border: 2px solid white ;
    border-radius: 50%;
    background-color: #cccccc;

}
.container button{
    all: unset;
    width: 24px;
    height: 25px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 50%;

}
.container button:hover{
    transition: 0.9s ease;
    opacity: 80%;
    background-color: white;
    border-radius: 50%;
    
}

.center_bar.expanded {
    height: 100px; /* Shrinks only when toggled */
}



/* Profile*/


.profil{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 800px;
    margin-left: 500px;
    justify-content: center;
    border-radius: 20px;
    background-color: #b8b8b8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.profil_center{
    font-size: 25px;
    display: flex;
    flex-direction: column; 
    border-radius: 30px;
    height: 650px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align:start;
    background-color: rgb(255, 255, 255);
    
}

.profil_center img{
    margin-top: 30px;
    margin-left: 170px;
    width: 150px;
    cursor: pointer;
}
.profil_div{
    display: flex;
    margin: 15px 10px 0px 20px;
    padding: 20px;
    justify-content: space-between;
}
.profil_div input{
    margin: 0px 50px 0px 20px;
    padding: 10px 20px 5px 20px;
}

.profil_save{
    margin-left: 150px;
    margin-top: 25px;
    padding: 3px 80px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #fbe6a2;
    font-size: 25px;
    cursor: pointer;
}
.profil_save:hover{
    transition: 1s ease;
    background-color: #1d3248;
    color: #cccccc;
}

.hidden{
    display: none;
}




